<style>
    .table td,
    .table th {
        vertical-align:middle;
    }
</style>
<h1 style="color:blue;">Listado de Productos</h1>
{{#if products.length }}
    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color: yellow;">
                <th>Nombre</th>
                <th>Precio</th>
                <th>Foto URl</th>
            </tr>

            {{#each products }}
            <tr style="color: white;">
                <td>{{this.title}}</td>
                <td>{{this.price}}</td>
                <td>
                    <img src="{{this.thumbnail}}" width="40", height="40">
                </td>
            </tr>
            {{/each}}
        </table>
    </div>
{{else}}
    <h2 class="alert alert-danger">No hay productos</h2>
{{/if}}
 